* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #0077cc;
    color: white;
}

header h1 {
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2rem;
    color: #e0e0e0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.show {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.btnShow {
    background-color: #0077cc;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin-bottom: 20px;
    font-family: cursive;
    border-radius: 10px;
    margin: auto;
}

.btnShow:hover {
    background-color: #005fa3;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #333;
    color: white;
}
